<div class="containeroptions">
<table class="table table-hover">
<thead>
  <tr>
    <th>Options</th>
  </tr>
    <tr><td><%= link_to "Change your password", edit_user_registration_path %></td></tr>
    <tr><td><%= link_to "All items in database", catalogs_path %></td></tr>

</thead>
</table>
</div>
<div class="podpis">Hello user, this is your catalog.</div>
<div class="containertable">

  <table class="table table-hover table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Element</th>
      <th>Category</th>
      <th>Value</th>
      <th>Amount</th>
      <th>User's login name</th>
    </tr>
  </thead>
  <% @catalogs.each do |catalog| %>
  <tbody>
  <tr>
    <td><%= link_to catalog.element, catalog, class: "a" %></td>
    <td><%=catalog.category%></td>
    <td><%=catalog.value%></td>
    <td><%=catalog.amount%></td>
    <td><%= link_to catalog.user.name, user_path(catalog.user_id), class: "a" %></td>
  </tr>
<% end %>
  </table>
  <div class="containerbuttons">
<%= link_to "Add an element", new_catalog_path, class: 'btn btn-default' %></div>
</div>
