<div class="containerelement"><div id="catalog">
  <span class="element-pic"></span>
  <p>Category: <%= @catalog.category %></p>
  <p>Name: <%= @catalog.element %></p>
  <p>Value: <%= @catalog.value %></p>
  <p>Amount: <%= @catalog.amount %></p>
</div>
<% if @catalog.user == current_user %>
<%= link_to "Edit", edit_catalog_path(@catalog), class:"btn btn-warning" %>
<%= link_to "Delete", catalog_path(@catalog), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
<% end %>
</div>
