<div class="podpis">Hello user, this is your catalog.</div>
<div class="containertable">
  <table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Element</th>
      <th>Category</th>
      <th>Value</th>
      <th>Amount</th>
    </tr>
  </thead>
  <% @catalogs.each do |catalog| %>
  <tbody>
  <tr>
    <td><%= link_to catalog.element, catalog, class: "a" %></td>
    <td><%=catalog.category%></td>
    <td><%=catalog.value%></td>
    <td><%=catalog.amount%></td>
  </tr>
<% end %>
  </table>
  <%= will_paginate @catalogs, renderer: BootstrapPagination::Rails, previous_label:"<" ,next_label:">", inner_window:1, outer_window:1%>
  <div class="containerbuttons">
<%= link_to "Add an element", new_catalog_path, class: 'btn btn-default' %></div>
</div>
