<div class="containerconv">
  <div class="centrujcontainer"><div class="containersearch">
      <div class="centruj"><h3>Search tool</h3></div>
<%= form_for @search, html: { class: 'pure-form'} do |f| %>

  <div class="centruj"><div class="field">
    <h5><%= f.label :keywords%>
    <%= f.text_field :keywords%></h5>
  </div></div>

  <div class="centruj"><div class="field">
    <h5><%= f.label :category%></h5>
    <%= f.select :category,["Resistance","Transistors","Capacitance","Microcontrolers","Batteries"]%>
  </div></div>

  <div class="centruj"><div class="field">
  <h5>  <%= f.label :min_value, "Minimum value"%> - <%= f.text_field :min_value, size: 10 %></h5>
  </div></div>

  <div class="centruj"><div class="field">
  <h5>  <%= f.label :min_value, "Maximum value"%> - <%= f.text_field :max_value, size: 10 %></h5>
  </div></div>

  <div class="centruj"><div class= "actions"><%= button_tag(type: "submit", class: "btn btn-success", name: "commit") do %>
  <span class="glyphicon glyphicon-search"></span> Search</div>
<% end %></div>
<% end %>
</div></div>
</div>
