<!DOCTYPE html>
<html>
  <head>
    <title>ECC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <%= link_to "Electronic component catalog", root_path, class: "navbar-brand"%></div>
        <div class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= link_to "Sing Out", destroy_user_session_path, :method=> 'delete', class: "navbar navbar-link"%>
            <% end %>
</div></div></nav>
    <%= yield %></div>
  </body>
</html>
