<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <title>Electronic Component Catalog</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "<span class=\"glyphicon glyphicon-flash\"></span> Electronic Component Catalog".html_safe, root_path, class: "navbar-brand"%>
        </div>


          <% if user_signed_in? %>
          <form class="navbar-form">
            <div class="nav navbar-nav navbar-center">
          <!-- <div class="form-group">
          <%= form_tag catalogs_path, :method=> 'get' do %>
          <%= text_field_tag :search, params[:search], :class=>"form-control" %>
          <%= submit_tag "Search", :class=>"btn btn-default" %>
          <%= link_to "Advanced search", new_search_path, :class=>"btn btn-default"  %>
          </div> -->
          </div>
          </form>
          <div class="nav navbar-nav navbar-right">
          <%= link_to "<span class=\"glyphicon glyphicon-envelope\"></span>".html_safe, users_path, class: "wylacznik", data: { turbolinks: false }%>
          <%= link_to "<span class=\"glyphicon glyphicon-off\"></span>".html_safe, destroy_user_session_path, :method=> 'delete', class: "wylacznik"%>
          </div></div></nav>
          <div class="containeroptions">

            <ul style="
              padding-left: 0px;
              margin-left: 0px;
              margin-right: 0px;">
              <li><%= link_to "<span class=\"glyphicon glyphicon-user\"></span> My profile".html_safe, user_path(current_user), data: { turbolinks: false } %></li>
              <li><%= link_to "<span class=\"glyphicon glyphicon-search\"></span> Search".html_safe, new_search_path %></li>
              <li><%= link_to "<span class=\"glyphicon glyphicon-envelope\"></span> Mailbox".html_safe, users_path, data: { turbolinks: false } %></li>
              <li><%= link_to "<span class=\"glyphicon glyphicon-comment\"></span> Shoutbox".html_safe, rooms_show_path %></li>
              <li><%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Account management".html_safe, edit_user_registration_path %></li>
              <li><%= link_to "<span class=\"glyphicon glyphicon-th\"></span> All items".html_safe, catalogs_all_path %></li>
              <li><%= link_to "<span class=\"glyphicon glyphicon-remove\"></span> Delete Account".html_safe, registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete  %></li>

            </ul>
          </div>
          <% end %>

      <% end %>

</nav>
    <%= yield %>

    <footer class="footer">
    <div class="centruj">
        <span class="text-muted">© 2017 <%= link_to "Our github", "https://github.com/OstrowskiJ/Electronic_Component_Catalog"%>, All rights reserved 2016-2017.
  </div>
</span>
      </div>
      </footer>
  </body>

  <% if current_user %>
   <script type="text/javascript">
        channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>
        PrivatePub.subscribe(channel, function(data) {

        var sender_id = data.sid;
        var recipient_id = data.rip;
        var conversation_id = data.cid;


        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(conversation_id);
        });

        });
    </script>
    <%= subscribe_to "/notifications" + current_user.id.to_s %>
    <% end %>

</html>
