<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <title>Electronic Component Catalog</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Electronic component catalog", root_path, class: "navbar-brand"%>
        </div>


          <% if user_signed_in? %>
          <form class="navbar-form">
            <div class="nav navbar-nav navbar-center">


          <div class="form-group">
          <%= form_tag catalogs_path, :method=> 'get' do %>
          <%= text_field_tag :search, params[:search], :class=>"form-control" %>
          <%= submit_tag "Search", :class=>"btn btn-default" %>
          <%= link_to "Advanced search", new_search_path, :class=>"btn btn-default"  %>
          </div>
          </div>
          </form>
          <div class="nav navbar-nav navbar-right">
          <%= link_to "<span class=\"glyphicon glyphicon-off\"></span>".html_safe, destroy_user_session_path, :method=> 'delete', class: "wylacznik"%>
          </div></div></nav>
          <div class="containeroptions">

            <ul style="
              padding-left: 0px;
              margin-left: 0px;
              margin-right: 0px;">
              <li><%= link_to "My profile", user_path(current_user), data: { turbolinks: false } %></li>
              <li><%= link_to "Change your password", edit_user_registration_path %></li>
              <li><%= link_to "All items in database", catalogs_path %></li>
              <li><%= link_to "Shoutbox", rooms_show_path %></li>
              <li><a href="#">Delete account</a></li>
              <li><a href="#">Change Account info</a></li>

            </ul>
          </div>
          <% end %>

      <% end %>

</nav>
    <%= yield %>

    <footer class="footer">
    <div class="centruj">
        <span class="text-muted">© 2017 <%= link_to "Our github", "https://github.com/OstrowskiJ/Electronic_Component_Catalog"%>, All rights reserved 2016-2017.
  </div></span>
      </div>
      </footer>
  </body>
</html>
